<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/APIProject/ATB10xAPIAutomationPrograms">
        <classes>
            <class name="Ex_02_RestAssWithTestng.APITesting_003_MTfix">
            </class>
        </classes>
    </test>
</suite>